@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light; /* Update to light color scheme */
}

/* Add a light background color to the body */
body {
  background-color: #ffffff;
}

/* Update the color and background properties for specific elements */
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
  color: #000000; /* Set text color to black */
}

.black-gradient {
  /* Update background gradient to light colors */
  background: #f5f5f5;
  background: -webkit-linear-gradient(to right, #f5f5f5, #ffffff);
  background: linear-gradient(to right, #f5f5f5, #ffffff);
}

/* Update the colors for the navigation menu */
.navbar {
  background-color: #ffffff; /* Set a white background color */
  color: #000000; /* Set the text color to black */
}

/* Update the color for the navigation links */
.nav-link {
  color: #000000; /* Set the text color to black */
}

/* Update the color for the active navigation link */
.nav-link.active {
  color: #ff675c; /* Set the active link color to the primary color */
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  text-align: center; /* Center the text horizontally */
}

.hide {
  display: none;
}

.picnic-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .picnic-card-container {
    justify-content: flex-start; /* Align cards to the start */
    flex-direction: row; /* Stack cards vertically */
    align-items: center; /* Center horizontally */
  }

  .picnic-card {
    margin: 10px 0; /* Add spacing between cards */
    width: 100%; /* Adjust the width as needed */
    max-width: 250px; /* Set a maximum width for the cards */
  }
}

.bg-gray {
  background-color: #fefae0;
}